.marca{
    font-size: 30px;
    font-weight: bolder;
}

.nav{
    font-size: 20px;
}

.bgmanual{
    background-color: #898992;
}


.frase{
    padding: 160px;
    background-image: url(./image/riven.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.imagenv{
    padding: 160px;
    background-image: url(./image/Vayne.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.vayne{
    padding: 160px;
    background-image: url(./image/Vayne2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.vaynebg{
    background-color: #C182F8;
}
.lucian{
    padding: 160px;
    background-image: url(./image/Lucian2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.imagenl{
    padding: 160px;
    background-image: url(./image/Lucian.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.lucianbg{
    background-color: #F7625F;
}

.thresh{
    padding: 160px;
    background-image: url(./image/Thresh2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.imagent{
    padding: 160px;
    background-image: url(./image/Thresh.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.threshbg{
    background-color: #9281E4;
}

.renata{
    padding: 160px;
    background-image: url(./image/Renata2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.imagenr{
    padding: 160px;
    background-image: url(./image/Renata\ Glasc.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.renatabg{
    background-color: #6C6EF1;
}

.color{
    color:aqua;
}

.tarjeta{
    background-color:#87CEFA;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.tarjeta:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.boton{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: blue;
    border: 1px solid blue;
    border-radius: 4px;
    transition: all 400ms ease;
}

.boton:hover{
    background-color: blue;
    color: #fff;
}